apiVersion: apps/v1
kind: Deployment
metadata: 
  name: {{ .Values.archiveadaptationservice.name }}
spec:
  replicas: {{ .Values.archiveadaptationservice.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.archiveadaptationservice.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.archiveadaptationservice.name }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: {{ .Values.prometheus.metricspath }}
        prometheus.io/port: "{{ .Values.prometheus.metricsport }}"        
    spec:
      serviceAccountName: {{ .Values.serviceAccount.archiveadaptationname  }}
      containers:
      - name: adaptation-service
        image: {{ .Values.imagestore.archiveadaptationservice.registry }}{{ .Values.imagestore.archiveadaptationservice.repository }}:{{ .Values.imagestore.archiveadaptationservice.tag }}
        ports:
        - containerPort: {{ .Values.prometheus.metricsport }}
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: EXCHANGE
          value: {{ .Values.archiveadaptationservice.exchange }}
        - name: METRICS_PORT
          value: "{{ .Values.prometheus.metricsport }}"
        - name: PUSHGATEWAY_ENDPOINT
          value: {{ .Values.prometheus.pushgatewayendpoint }}          
        - name: INPUT_MOUNT
          value: {{ .Values.volumemountpath.source }}
        - name: OUTPUT_MOUNT
          value: {{ .Values.volumemountpath.target }}
        - name: ARCHIVE_PROCESSING_IMAGE
          value: {{ .Values.imagestore.archiveprocessingservice.registry }}{{ .Values.imagestore.archiveprocessingservice.repository }}:{{ .Values.imagestore.archiveprocessingservice.tag }}
        - name: ARCHIVE_PROCESSING_TIMEOUT
          value: {{ .Values.icapserviceconfig.processingtimeoutduration }}
        - name: ARCHIVE_ADAPTATION_REQUEST_QUEUE_HOSTNAME
          value: {{ .Values.queue.archiveadaptationrequest.hostname}}
        - name: ARCHIVE_ADAPTATION_REQUEST_QUEUE_PORT
          value: {{ .Values.queue.archiveadaptationrequest.port}}
        - name: ADAPTATION_REQUEST_QUEUE_HOSTNAME
          value: {{ .Values.queue.adaptationRequest.hostname}}
        - name: ADAPTATION_REQUEST_QUEUE_PORT
          value: {{ .Values.queue.adaptationRequest.port}}
        {{- if .Values.queue.messagebrokersecret }}
        - name: MESSAGE_BROKER_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.queue.messagebrokersecret }}
              key: username
        - name: MESSAGE_BROKER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.queue.messagebrokersecret }}
              key: password
        {{- end }}     
        resources:
          limits:
            cpu: 1
            memory: 500Mi
          requests:
            cpu: 0.5
            memory: 100Mi
      imagePullSecrets:
        - name: adaptation-registry-credential
