environment:
rabbitmqService:
  name: rabbitmq-service
  port: 5672
  component: rabbitmq
  app: taskQueue
  key: rabbitmq-cluster-operator
serviceAccount:
  adaptationname: adaptation-service-sa
  archiveadaptationname: archive-adaptation-service-sa
  policyupdatename: policy-update-service-sa
  janitorname: pod-janitor-sa
volumemountpath:
  source: "/var/source"
  target: "/var/target"
  transactions: /mnt/transactions
prometheus:
  metricsport: 8081
  pushgatewayendpoint: "http://pushgateway-prometheus-pushgateway:9091/metrics"
queue:
  messagebrokersecret: "rabbitmq-service-default-user"
  host:
    url: "rabbitmq-service" # this should be deprecated in preference to queue specific hostname
    port: "\"5672\"" # this should be deprecated in preference to queue specific port
  adaptationRequest:
    exchangename: "adaptation-exchange"
    requestqueuename: "adaptation-request-queue"
    replyqueuename: "amq.rabbitmq.reply-to"
    messagename: "adaptation-request"
    hostname: "rabbitmq-service"
    port: "\"5672\""
  archiveadaptationrequest:
    hostname: "rabbitmq-service"
    port: "\"5672\""
  transactionevent:
    hostname: "rabbitmq-service"
    port: "\"5672\""
adaptationservice:
  name: adaptation-service
  replicas:
    min: 1
    max: 80
  amqpurl: "amqp://guest:guest@rabbitmq-service:5672/"
  rolename: adaptation-service-role
archiveadaptationservice:
  name: archive-adaptation-service
  namespace: icap-adaptation
  replicas:
    min: 1
    max: 10
  amqpurl: "amqp://guest:guest@rabbitmq-service:5672/"
  exchange: adaptation-exchange
  rolename: archive-adaptation-service-role
icapservice:
  name: mvp-icap-service
  applabel: adaptation
  replicas:
    min: 1
    max: 150
  port: 1344
  tlsport: 1345
  enableFileId: true
icapserviceconfig:
  processingtimeoutduration: 00:01:00
icapservicemetricsexporter:
  icaphost: localhost
  icapport: 1344
  service: info?view=text
podjanitor:
  name: pod-janitor
  namespace: icap-adaptation
  rolename: janitor-role
  deleteSuccessfulAfter: 1m
  deleteFailedAfter: 3m
eventsubmissionservice:
  name: event-submission-service
  replicas: 1
  amqpurl: "" # this should be deprecated in preference to queue specific hostname
policyupdateservice:
  name: policy-update-service
  applabel: policyupdate
  replicas: 1
  port: 10000
  rolename: policy-update-service-role
requestprocessingservice:
  configmapname: request-processing-config
  cpulimit: 1
  cpurequest: 0.2
  memorylimit: 10000Mi
  memoryrequest: 250Mi
transactionqueryservice:
  fullnameOverride: transaction-query-service
  replicaCount: 1
  imagePullSecrets: []
  service:
    type: ClusterIP
    port: 443
  deployment:
    containerPort: 443
  probes:
    enabled: false
  ingress:
    enabled: false
    annotations: {}
    path: /
    tls: []
  volumes:
    transactionstore:
      shareName: transactions
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
transactionstore:
  shareName: transactions
  storage: 100Gi
imagestore:
  requestprocessing:
    registry: ""
    repository: glasswallsolutions/icap-request-processing
    tag: develop-e14105a
  adaptationservice:
    registry: ""
    repository: glasswallsolutions/icap-adaptation-service
    tag: develop-d1896ea
  podjanitor:
    registry: ""
    repository: glasswallsolutions/pod-janitor
    tag: develop-d2f944d
  icapservice:
    registry: ""
    repository: glasswallsolutions/mvp-icap-service
    tag: develop-95110ee
  icapservicemetricsexporter:
    registry: ""
    repository: glasswallsolutions/icap-service-metrics-exporter
    tag: develop-e44d5bf
  eventsubmission:
    registry: ""
    repository: glasswallsolutions/event-submission-service
    tag: develop-1f75835
  policyupdate:
    registry: ""
    repository: glasswallsolutions/policy-update-service
    tag: develop-25d78e8
  archiveadaptationservice:
    registry: ""
    repository: glasswallsolutions/archive-adaptation-service
    tag: develop-60296f7
  archiveprocessingservice:
    registry: ""
    repository: glasswallsolutions/archive-processing-service
    tag: develop-0e36a0e
  transactionqueryservice:
    registry: ""
    repository: glasswallsolutions/transaction-query-service
    tag: develop-12eb95a
secrets:
  containerregistry:
    dockerconfigjson: "<<https://gw-icap-keyvault.vault.azure.net/secrets/az-registry-dockerconfig>>"
  transactionqueryservice:
    transactionqueryservicesecret:
      username: "<<https://gw-icap-keyvault.vault.azure.net/secrets/transactionQueryServiceUsername>>"
      password: "<<https://gw-icap-keyvault.vault.azure.net/secrets/transactionQueryServicePassword>>"
  policyupdateservice:
    policyupdateservicesecret:
      username: "<<https://gw-icap-keyvault.vault.azure.net/secrets/policyUpdateServiceUsername>>"
      password: "<<https://gw-icap-keyvault.vault.azure.net/secrets/policyUpdateServicePassword>>"
  transactionstore:
    transactionstoresecret:
      azurestorageaccountname: "<<https://gw-icap-keyvault.vault.azure.net/secrets/transactionStoreAccountName>>"
      azurestorageaccountkey: "<<https://gw-icap-keyvault.vault.azure.net/secrets/transactionStoreAccountKey>>"
  mvpicapservice:
    tls:
      tlsCert: "<<https://gw-icap-keyvault.vault.azure.net/secrets/mvpicapserviceTlsCert>>"
      tlsKey: "<<https://gw-icap-keyvault.vault.azure.net/secrets/mvpicapserviceTlsKey>>"
